<%# toc %>
<%if(toc(page.content).length!==0){%>
  <%- partial('partials/toc') %>
<%}%>
<div class="thumbnail-header" style="background: url(<%- page.thumbnail %>)">
  <div class="thumbnail-hover"></div>
</div>
<div class="post">
  <div class="post-header">
    <h1 class="post-title"><%- page.title %></h1>
    <p class="post-meta">
      <%- page.description %> -- <%- date(page.date, "YYYY-MM-DD | HH:mm") %>
    </p>
  </div>
  
  <div class="post-content">
    <article>
      <%- page.content %>
    </article>
  </div>

  <div class="post-license">
    <span>
      2021-PRESENT © <a href="<%= config.khome %>" target="_blank"><%= config.author %></a> All Right Reserve.
    </span>
  </div>
</div>
